[submodule "restaurant-order-service"]
	path = restaurant-order-service
	url = https://github.com/TranThanhLam2005/restaurant-order-service.git
[submodule "restaurant-identity-service"]
	path = restaurant-identity-service
	url = https://github.com/TranThanhLam2005/restaurant-identity-service.git
	branch = main
[submodule "restaurant-branch-service"]
	path = restaurant-branch-service
	url = https://github.com/TranThanhLam2005/restaurant-branch-service.git
[submodule "restaurant-reservation-service"]
	path = restaurant-reservation-service
	url = https://github.com/TranThanhLam2005/restaurant-reservation-service.git
[submodule "restaurant-menu-service"]
	path = restaurant-menu-service
	url = https://github.com/TranThanhLam2005/restaurant-menu-service.git
