[submodule "Lending-user-service"]
	path = Lending-user-service
	url = https://github.com/TranThanhLam2005/Lending-user-service.git
	branch = main

[submodule "Lending-discovery-server"]
	path = Lending-discovery-server
	url = https://github.com/TranThanhLam2005/Lending-discovery-server.git
	branch = main
[submodule "Lending-gateway-service"]
	path = Lending-gateway-service
	url = https://github.com/TranThanhLam2005/Lending-gateway-service.git
	branch = main
[submodule "Lending-record-service"]
	path = Lending-record-service
	url = https://github.com/TranThanhLam2005/Lending-record-service.git
[submodule "Lending-equipment-service"]
	path = Lending-equipment-service
	url = https://github.com/TranThanhLam2005/Lending-equipment-service.git
[submodule "Lending-auth-service"]
	path = Lending-auth-service
	url = https://github.com/TranThanhLam2005/Lending-auth-service.git
[submodule "restaurant-order-service"]
	path = restaurant-order-service
	url = https://github.com/TranThanhLam2005/restaurant-order-service.git
[submodule "restaurant-identity-service"]
	path = restaurant-identity-service
	url = https://github.com/TranThanhLam2005/restaurant-identity-service.git
[submodule "restaurant-branch-service"]
	path = restaurant-branch-service
	url = https://github.com/TranThanhLam2005/restaurant-branch-service.git
